<div>
  <p>This page displays a few of famou quotes in the world<br>
  you can vote for your famous quotes or also add your favourite quote</p>
</div>
<div class="card">
  It always seems impossible until it's done- <em>Nelson Mandela</em><br>
  <img src="https://img.icons8.com/material-outlined/24/000000/filled-like.png"/>
  <img src="https://img.icons8.com/ios/50/000000/poor-quality.png"width="25px" height="25px"/>
</div>
<div class="card">
  <p>Your time is limited, so don't waste it living someone else's life. Don't be trapped by dogma – which is living with the results of other people's thinking. - <em>Steve Jobs</em><br>
  <img src="https://img.icons8.com/material-outlined/24/000000/filled-like.png"/>
<img src="https://img.icons8.com/ios/50/000000/poor-quality.png" width="25px" height="25px"/></p>
</div>
<div class="card">
  <p>Spread love everywhere you go. Let no one ever come to you without leaving happier. -<em>Mother Teresa</em><br>
  <img src="https://img.icons8.com/material-outlined/24/000000/filled-like.png"/>
<img src="https://img.icons8.com/ios/50/000000/poor-quality.png" width="25px" height="25px"/></p>
</div>
<div class="card">
  <p>It is during our darkest moments that we must focus to see the light. -<em>Aristotle</em><br>
  <img src="https://img.icons8.com/material-outlined/24/000000/filled-like.png"/>
<img src="https://img.icons8.com/ios/50/000000/poor-quality.png" width="25px" height="25px"/></p>
</div>
<div class="card">
  <p>Many of life's failures are people who did not realize how close they were to success when they gave up. -<em>Thomas A. Edison</em><br>
  <img src="https://img.icons8.com/material-outlined/24/000000/filled-like.png"/>
<img src="https://img.icons8.com/ios/50/000000/poor-quality.png" width="25px" height="25px"/></p>
</div>
<div class="card">
  <p>Keep smiling, because life is a beautiful thing and there's so much to smile about. -<em>Marilyn Monroe</em><br>
  <img src="https://img.icons8.com/material-outlined/24/000000/filled-like.png"/>
<img src="https://img.icons8.com/ios/50/000000/poor-quality.png" width="25px" height="25px"/></p>
</div>
<div class="card">
  <p>Love the life you live. Live the life you love. -<em>Bob Marley</em><br>
  <img src="https://img.icons8.com/material-outlined/24/000000/filled-like.png"/>
<img src="https://img.icons8.com/ios/50/000000/poor-quality.png" width="25px" height="25px"/></p>
</div>