<div class="container" id="bbd">
  
    <div>
      <p>This page displays a few of famous quotes in the world<br>
      you can vote for your famous quotes or also add your favourite quote</p>
    </div>
    <div class="card" id="qs" *ngFor="let mflow of mflows; let i=index">
      <p>{{mflow.quote}} <em>{{mflow.author}}</em><br>
      <button   mat-raised-button id="icons" (click)='likesButtonClick(i)'>like </button>{{mflow.likes}}
      <button  mat-raised-button id="icons" (click) ='dislikeButtonClick(i)'>dislike </button> {{mflow.dislikes}}
      <button mat-raised-button color='warn' id="icons" >delete</button>
    </div>
    <div>
      <app-add-quote [createQuote]="quoteFunc"></app-add-quote>
    </div>
    <!-- <div class="card" id="qs">
      <p>Your time is limited, so don't waste it living someone else's life. Don't be trapped by dogma – which is living with the results of other people's thinking. - <em>Steve Jobs</em><br>
       <button mat-raised-button id="icons" (click)='likesButtonClick()'>like</button>{{likes}}
      <button mat-raised-button id="icons" (click) ='dislikeButtonClick()'>dislike</button>{{dislikes}}
      <button mat-raised-button color='warn' id="icons">delete</button>
  </p>
    </div>
    <div class="card"  id="qs">
      <p>Spread love everywhere you go. Let no one ever come to you without leaving happier. -<em>Mother Teresa</em><br>
     <button mat-raised-button id="icons" (click)='likesButtonClick()'>like</button>{{likes}}
      <button mat-raised-button id="icons" (click) ='dislikeButtonClick()'>dislike</button>{{dislikes}}
      <button mat-raised-button color='warn' id="icons" >delete</button></p>
    </div>
    <div class="card" id="qs">
      <p>It is during our darkest moments that we must focus to see the light. -<em>Aristotle</em><br>
      <button mat-raised-button id="icons" (click)='likesButtonClick()'>like</button>{{likes}}
      <button mat-raised-button id="icons" (click) ='dislikeButtonClick()'>dislike</button>{{dislikes}}
      <button mat-raised-button color='warn' id="icons" >delete</button></p>
    </div>
    <div class="card" id="qs">
      <p>Many of life's failures are people who did not realize how close they were to success when they gave up. -<em>Thomas A. Edison</em><br>
      <button mat-raised-button id="icons" (click)='likesButtonClick()'>like</button>{{likes}}
      <button mat-raised-button id="icons" (click) ='dislikeButtonClick()'>dislike</button>{{dislikes}}
      <button mat-raised-button color='warn' id="icons">delete</button></p>
    </div>
    <div class="card" id="qs">
      <p>Keep smiling, because life is a beautiful thing and there's so much to smile about. -<em>Marilyn Monroe</em><br>
      <button mat-raised-button id="icons"  (click)='likesButtonClick()'>like</button>{{likes}}
      <button mat-raised-button id="icons" (click) ='dislikeButtonClick()'>dislike</button>{{dislikes}}
      <button mat-raised-button color='warn' id="icons">delete</button></p>
    </div>
    <div class="card" id="qs">
      <p>Love the life you live. Live the life you love. -<em>Bob Marley</em><br>
      <button mat-raised-button id="icons" (click)='likesButtonClick()'>like</button>{{likes}}
      <button mat-raised-button id="icons" (click) ='dislikeButtonClick()'>dislike</button>{{dislikes}}
      <button mat-raised-button color='warn' id="icons">delete</button></p>
    </div> -->
</div>